@import 'fonts';

* {
  box-sizing: border-box;
  font-family: 'Nunito-regular', sans-serif !important;
}

body {
  margin: 0;
  background-color: #f8f8f8;
}
:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  max-width: 1170px;
  width: 100% !important;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}
